<div {...Astro.props} class="flex items-center gap-2">
  <span class="text-2xl font-bold text-yellow-500 dark:text-yellow-400">Life</span>
  <span class="text-2xl font-bold text-[#478527] dark:text-[#478527]">Profoundness</span>
</div>
